# Lab work

### Make a list of that contains student name, last four digits of registration number as integer, CGPA as a float, and a list that contain GPA of all semesters. (Nested List)

In [2]:
student_name={'ayub':470,'ibraheem':480,'mashal':466,'nasir':502}
cgpa={'1st semmester':3.85,'2nd semmester':3.86}
print(student_name)
print(cgpa)
print(student_name.items())
print(student_name.keys())
print(student_name.values())


print(cgpa.items())
print(cgpa.keys())
print(cgpa.values())

{'ayub': 470, 'ibraheem': 480, 'mashal': 466, 'nasir': 502}
{'1st semmester': 3.85, '2nd semmester': 3.86}
dict_items([('ayub', 470), ('ibraheem', 480), ('mashal', 466), ('nasir', 502)])
dict_keys(['ayub', 'ibraheem', 'mashal', 'nasir'])
dict_values([470, 480, 466, 502])
dict_items([('1st semmester', 3.85), ('2nd semmester', 3.86)])
dict_keys(['1st semmester', '2nd semmester'])
dict_values([3.85, 3.86])

# Lab practise  
## List:
### Make a list of 5 any integers.

In [3]:
list1=[1,2,3,4,5]

### Make a list of that contains student name, last four digits of registration number as integer, CGPA as a float, and a list that contain GPA of all semesters. (Nested List)

In [4]:
list1=['ayub',470,3.8,[3.84,3.86]]

### In the above list print the student CGPA. (Index)

In [5]:
print(list1[2])

3.8

### Print the list elements using the while loop and use length function. (len)

In [6]:
t=0
while(t<len(list1)):
    print(list1[t])
    t=t+1

ayub
470
3.8
[3.84, 3.86]

### Access the list of all semester GPA using negative indexing

In [7]:
print(list1[-1])

[3.84, 3.86]

### Make a list of first 20 integers using range function

In [1]:
list2=[]
for i in range(21):
    list2.append(i)
print(list2)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

### Make a list of odd integers from 20 to 40 using the range function.

In [9]:
odd=[]
for i in range(1,20,2):
    odd.append(i)
print(odd)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

### Consider the student list.
Student = [Ibrahim, Husain, Irfan, Ayub, Usman]
Use in and not in operator to ensure that the student is in the list or not

In [10]:
Student = ['Ibrahim', 'Husain', 'Irfan', 'Ayub', 'Usman']
print('Ibrahim' in Student)
print('Husain' in Student)
print('Irfan' in Student)
print('Ayub' in Student)
print('Usman' in Student)

True
True
True
True
True

### Print all the student list in task 8 using the for loop

In [11]:
length=len(Student)
for i in range(length):
    print(Student[i])

Ibrahim
Husain
Irfan
Ayub
Usman

### Observe what is print, what is the first thing print, what the last thing print. Consider task 8 for student list

In [12]:
print(Student [1:3])
print(Student [2:4])

['Husain', 'Irfan']
['Irfan', 'Ayub']

# Tuple

# Make a tuple containing first five letters of English. (definition)

In [7]:
t=('a','b','c','d','e')
print(t.count('b'))
print(t.index('d'))

1
3

#  Use the index to access the third and last element.

In [14]:
print(t[2])
print(t[-1])

c
e

# Dictionary

In [52]:
Fd= { 'one': 'aik', 'three':'teen','ten': 'das', 'fifteen' : 'pandra'}
print(Fd)

{'one': 'aik', 'three': 'teen', 'ten': 'das', 'fifteen': 'pandra'}

In [53]:
print(Fd['one'])

aik

In [54]:
print(Fd['ten'])

das

In [55]:
Fd.pop("three")

'teen'

In [56]:
print(Fd)

{'one': 'aik', 'ten': 'das', 'fifteen': 'pandra'}

In [57]:
len(Fd)

3

# Use the key method and print the list of keys.

In [58]:
print(Fd.keys())

dict_keys(['one', 'ten', 'fifteen'])

# Use the value function to print the list of values.

In [59]:
print(Fd.values())

dict_values(['aik', 'das', 'pandra'])

# Observe the output of Fd.items().

In [60]:
print(Fd.items())

dict_items([('one', 'aik'), ('ten', 'das'), ('fifteen', 'pandra')])

# Observe the output Fd.has_key(‘one) and Fd.has_key(‘two’) and think where such type of output will help and required.

In [61]:
Fd.key('one')

AttributeError: 'dict' object has no attribute 'key'

# To copy the dictionary, one may use one of the following. Verify by printing copy and alias.
# o copy = Fd.copy()
# o alias = Fd
# o Now let alias[‘three’] = ‘3’, now print alias and observe the result. 
# o Also let copy[‘three’] = ‘3’, now print copy and observe the result.

In [62]:
copy = Fd.copy()

In [63]:
alias = Fd

In [73]:
alias['five'] = '5'

In [74]:
print(alias)

{'one': 'aik', 'ten': 'das', 'fifteen': 'pandra', 'three': '3', 'four': '4', 'five': '5'}

In [82]:
copy['five'] = '5'

In [83]:
print(copy)

{'one': 'aik', 'ten': 'das', 'fifteen': 'pandra', 'three': '3', 'five': '5'}

# encouraging

In [77]:
encourage = ['span',1,['ayub','ibrahim','mashal'],[1,2,3]]

In [78]:
encourage.index(['ayub','ibrahim','mashal'])

2

In [79]:
for i in encourage:
    print(i)

span
1
['ayub', 'ibrahim', 'mashal']
[1, 2, 3]

In [87]:
len(encourage)

4

In [97]:
encourage.reverse()

In [98]:
encourage

[[1, 2, 3], ['ayub', 'ibrahim', 'mashal'], 1, 'span']

In [1]:
stuff = dict()
print(stuff['candy'])

KeyError: 'candy'

In [2]:
stuff = dict()
print(stuff.get('candy',-1))

-1